__pycache__/
*.py[cod]
*$py.class

venv/
env/

*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

*.secret
.env

.vscode/
.idea/

.DS_Store

*.pid
*.seed
*.tar
*.bak
*.swp
*.tmp
*.orig

media/
staticfiles/

**/migrations/
!*/migrations/__init__.py

htmlcov/
coverage.xml
*.cover
.tox/
.nox/
.pytest_cache/
.cache/

pip-log.txt
pip-delete-this-directory.txt

build/
dist/
*.egg-info/

*.swagger.json
*.swagger.yaml
